{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container-fluid mt-0 g-0 fire-background">
  <div class="overlay">
    <div class="row g-0">
      <div class="col-sm-4 offset-md-3 white-border text-white p-2" id="login-box">
        <h1 class="text-uppercase">{% trans "Sign In" %}</h1>
        <p class="fs-5">{% blocktrans %}Welcome back to the Burgess Community Page. To leave a comment or like a
          discussion, please log in. If
          you
          have not created an account yet, then <a class="text-white" href="{{ signup_url }}">sign up</a>
          first.{% endblocktrans %}</p>
        <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          {{ form.as_p }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button class="btn btn-dark right mb-3" type="submit">{% trans "Sign In" %}</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}