{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock head_title %}

{% block content %}
<div class="container-fluid fire-background m-0 g-0">
  <div class="overlay text-white">
    <div class="row g-0">
      <div class="col-10 offset-1 col-sm-6 offset-sm-2 white-border p-2" id="logout-box">
        <h1 class="text-uppercase">{% trans "Sign Out" %}</h1>

        <p class="fs-4">{% trans 'Are you sure you want to sign out?' %}</p>

        <form method="post" action="{% url 'account_logout' %}">
          {% csrf_token %}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button class='btn btn-dark logout-btn mb-2'type="submit">{% trans 'Sign Out' %}</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}