{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock head_title %}

{% block content %}
<div class="container-fluid fire-background g-0 mt-0">
    <div class="overlay">
        <div class="row g-0">
            <div class="col-10 offset-1 col-sm-6 offset-sm-2 text-white white-border p-3" id="password-reset-box">
                <h1 class="text-uppercase">{% trans "Password Reset" %}</h1>
                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}

                <p>{% trans "Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it." %}</p>

                    
                    
                <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input class="btn btn-dark mb-2" type="submit" value="{% trans 'Reset My Password' %}" />
                </form>

                <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}
                </p>
                {% endblock content %}
            </div>
        </div>
    </div>
</div>