{% extends "base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock head_title %}

{% block content %}
<div class="container-fluid fire-background m-0 g-0">
    <div class="overlay">
        <div class="row">
            <div class="col-sm-4 offset-md-3 white-border text-white p-3" id="reset-key-done-box">
                <h1 class="text-uppercase">{% trans "Change Password" %}</h1>
                <p>{% trans 'Your password is now changed.' %}</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}