{% extends 'base.html' %}

{% block content %}
<section id="fire-background">
    <div class="overlay container-fluid">
        <div class="row">
            <div class="card mt-5 col-lg-8 offset-lg-2">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h2 class="card-title">{{discussion.title}}</h2>
                    <h4 class="card-title">Posted by {{discussion.author}}</h4>
                    <p class="card-text">{{discussion.content}}</p>
                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}