{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<section class="fire-background">
  <!-- This section refers to the discussion content -->
  <div class="overlay container-fluid mt-5 pb-5">
    <div class="row">
      <div class="card col-lg-8 g-0 offset-lg-2 text-bg-dark my-5" id="discussion-content-box">
        <div class="card-img p-2" id="image-overlay">
          {% if user.is_authenticated and discussion.author == user %}
          <div class="d-flex mb-3">
          <h1 class="card-title text-decoration-underline me-auto" id="discussionTitle">{{discussion.title}}</h1>
          <div class="justify-self-end">
            <button id="editDiscussionBtn" class="me-md-2 btn btn-success"><i class="fa-regular fa-pen-to-square"></i></button>
            <button class="btn btn-danger btn-delete"><i class="fa-regular fa-trash-can"></i></button>
          </div>
          </div>
          {% else %}
          <h1 class="card-title text-decoration-underline">{{discussion.title}}</h1>
          {% endif %}
          <h5 class="card-title">Written by {{discussion.author}} | Created on {{discussion.created_on}}</h5>
          <p class="card-text" id="discussionContent">{{discussion.content}}</p>
          <p class="card-text"><small>Last updated {{discussion.updated_on}}</small></p>

          <!-- Displaying count of comments -->
          <hr>

          <!-- Displaying Comments -->
          <div>
            <div class="mx-4"> <strong class="text-secondary">
                <i class="far fa-comments"></i> {{ comment_count }}
              </strong>
              <h2>Comments:</h2>
              <div>
                {% for comment in comments %}
                <div class="bg-secondary text-white border-light card p-1 comments
                {% if not comment.approved and comment.author == user %}
                faded{% elif not comment.approved %} d-none{% endif %}">
                  <div class="fw-medium text-decoration-underline bs-dark card-header">
                    {{ comment.author }}
                  </div>
                  <div class="card-body bg-dark">
                    {% if not comment.approved and comment.author == user %}
                    <p class="text-danger-emphasis mark">
                      This comment is awaiting approval
                    </p>
                    {% endif %}
                    <blockquote class="mb-0 text-white">
                      <div id="comment{{ comment.id }}">
                        <p>{{ comment.body | linebreaks }}</p>
                      </div>
                      <p class="blockquote-footer text-primary">Posted on <cite title="Source Title">
                          {{comment.created_on}}</cite></p>
                    </blockquote>
                    {% if user.is_authenticated and comment.author == user %}
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                      <button class="me-md-2 btn btn-success btn-edit" comment_id="{{ comment.id }}"><i
                          class="fa-regular fa-pen-to-square"></i></button>
                      <button class="btn btn-danger btn-delete" comment_id="{{ comment.id }}"><i
                          class="fa-regular fa-trash-can"></i></button>
                    </div>
                    {% endif %}
                  </div>
                </div>
                <br>
                <!-- Our for loop ends here -->
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Creating New Comments -->
    <div class="card col-lg-8 g-0 offset-lg-2 text-bg-dark">
      <div class="card-body" id="comment_form">
        <h2>Add a Comment:</h2>
        {% if user.is_authenticated %}
        <p>Posting as: {{ user.username }}</p>
        <form id="commentForm" method="post" style="margin-top: 1.3em;">
          {{ comment_form | crispy }}
          {% csrf_token %}
          <button id="submitButton" type="submit" class="btn btn-signup btn-dark btn-lg">Submit</button>
        </form>
        {% else %}
        <p><a class="text-white" href="{% url 'account_login' %}">Log in</a> to leave a comment</p>
        {% endif %}
      </div>
    </div>
  </div>

</section>

<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete comment?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Do you really want to delete this comment?
        This action cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a id="deleteConfirm" href="#" class="btn
          btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>

<!-- This is the modal to edit a discussion -->
<div class="modal fade" id="editDiscussionModal" tabindex="-2">
  <div class="modal-dialog bg-dark rounded-3 border border-light-subtle">
      <div class="modal-content bg-dark">
          <div data-bs-theme="dark" class="modal-header bg-dark">
              <h3 class="modal-title text-white">Edit Discussion</h3>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body text-white">
              <form method="POST" id="discussionForm">
                  {{ discussion_form | crispy }}
                  {% csrf_token %}
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                  <button type="submit" id="submitBtn" class="btn btn-success">Submit</button>
              </form>
          </div>
      </div>
  </div>
</div>

{% endblock %}

{% block extras %}
<script>
  const excerptField = document.getElementById("id_excerpt");
  const excerptValue = "{{ discussion.excerpt }}";
  excerptField.value = excerptValue;
</script>
<script src="{% static 'js/comments.js' %}"></script>
<script src="{% static 'js/alter_discussion.js' %}">
</script>
{% endblock %}