{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<!-- This is the hero image -->
<section class="container-fluid" id="hero-image" aria-label="Background image of a beautiful camp sunset">
    <div class="container-lg text-center" id="hero-text" aria-labelledby="heading text createDiscussionButton">
        <!-- This is the hero text -->
        <h3 id="heading" class="text-uppercase">Camp Burgess & Hayward community page</h3>
        <p id="text">For the use of the '24 staff</p>
        {% if user.is_authenticated %}
        <!-- This button only appears if user is authenticated -->
        <button class="btn btn-lg btn-success" id="createDiscussionButton">Create Discussion</button>
        {% endif %}
    </div>

</section>
<section class="container-fluid discussion-box">
    <br>
    <div class="col-12 left">
        <div class="row">
            <!-- For each discussion, this HTML block is replicated -->
            {% for discussion in discussions %}
            <div class="col-xs-6 col-sm-6 col-md-4 col-xxl-3 {% if not discussion.approved and discussion.author == user %}
            faded{% elif not discussion.approved %} d-none{% endif %}">
                <div class="card mb-4" id="discussion-card">
                    {% if not discussion.approved and discussion.author == user %}
                    <p
                        class="alert alert-warning border border-dark position-absolute top-0 end-0 fw-bolder mt-2">
                        Awaiting approval</p>
                    {% endif %}
                    {% if "placeholder" in discussion.featured_image.url %}
                    <!-- This is the image for the discussion -->
                    <img class="card-img-top" id="card-img" src="{% static 'images/sample_photo.png' %}" alt="placeholder, default image">
                    {% else %}
                    <img class="card-img-top" id="card-img" src=" {{ discussion.featured_image.url }}" alt="Image for {{ discussion.title }}">
                    {% endif %}
                    <div class="card-body" aria-labelledby="title author excerpt">
                        <!-- These are the discussions properties -->
                        <h4 id="title" class="card-title">{{discussion.title}}</h4>
                        <h5 id="author" class="card-title">{{discussion.author}}</h5>
                        <p id="excerpt" class="card-text">{{discussion.excerpt}}</p>
                        <div class="d-flex mb-3">
                            <div class="me-auto">
                                <!-- This anchor points to the specific discussion's URL -->
                                <a href="{% url 'disc_content' discussion.slug %}"
                                    aria-label="Click with button to view {{discussion.title}}" class="btn btn-success justify-content-start">View Post</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>

<!-- This is the modal to create a discussion -->
<div class="modal fade" id="discussionModal" tabindex="-1">
    <div class="modal-dialog bg-dark rounded-3 border border-light-subtle">
        <div class="modal-content bg-dark">
            <div data-bs-theme="dark" class="modal-header bg-dark" aria-labelledby="discussionModalHeading closeModal">
                <h3 id="discussionModalHeading" class="modal-title text-white">Create Discussion</h3>
                <button id="closeModal" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-white" aria-labelledby="discussionForm">
                <form id="DiscussionForm" method="POST" aria-labelledby="cancel submit">
                    {{ discussion_form | crispy }}
                    {% csrf_token %}
                    <button id="cancel" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button id="submit" type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extras %}
<!-- This is the link to the javascript file -->
<script src="{% static 'js/discussion.js' %}"></script>
{% endblock %}