{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="container-fluid" id="hero-image">
    <div class="container-lg text-center" id="hero-text">
        <h3 class="text-uppercase">Camp Burgess & Hayward community page</h3>
        <p>For the use of the '24 staff</p>
        <button class="btn btn-lg btn-success" id="createDiscussionButton">Create Discussion</button>
    </div>

</section>
<section class="container-fluid discussion-box">
    <br>
    <div class="col-12 left">
        <div class="row">
            {% for discussion in object_list %}
            <div class="col-md-4">
                <div class="card mb-4" id="discussion-card">
                    <img src="../../../static/images/sample_photo.png" id="card-img" class="card-img-top" alt="{{discussion.title}}">
                    <div class="card-body">
                        <h4 class="card-title">{{discussion.title}}</h4>
                        <h5 class="card-title">{{discussion.author}}</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a href="{% url 'discussion_content' discussion.slug %}" class="btn btn-success">View Post</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<div class="modal" id="discussionModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block extras %}
<script src="{% static 'js/discussion.js' %}"></script>
{% endblock %}