/* This is the Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');


/* This overrides the default browser settings */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* These styles refer to main font stlyes */

h1, h2, h3, h4, h5, h6 {
    font-family: 'teko', 'sans-serif';
}
/* Generic Classes */

.fire-background {
    background: url('../images/background_image.jpeg') fixed center / cover;
    min-height: 100vh;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 100vh;
    width: 100%;
}

.white-border {
    border: 2px solid #fff;
    background-color: rgba(0, 0, 0, 0.5);
}

/* These are the styles for the header */

header img {
    width: 80px;
    height: 80px;
}

.navbar {
    background-color: #112a12;
    border-bottom: 2px solid #fff;
    font-family: 'teko', 'sans-serif';
    font-size: 200%;
    color: #fff;
}

.brand-background {
    background-color: #3d3d3d;
    border-radius: 2%;
    color: #fff;
}

li > a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 20px;
}

li > a:hover {
    color: #d3d3d3;
}

.active {
    text-decoration: underline;
}

.active:hover {
    text-decoration: underline;
    color: #fff;
}

/* These styles refer to the footer */

footer {
    background-color: #112a12;
    border-top: #fff solid 2px;
}

#footer-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

#footer-list > li {
    color: #fff;
    font-size: 150%;
}

#copyright {
    align-items: flex-end;
    color: #fff;
    list-style-type: none;
    font-size: 150%;
}



/* These styles refer to the home page */

#hero-image {
    background: url("../images/sunset.jpg") fixed center / cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

#hero-text > h3 {
    color: #d3d3d3;
    font-size: 350%;
}

#hero-text > p {
    color: #d3d3d3;
    font-size: 100%;
}

#createDiscussionButton {
    font-family: 'teko', 'sans-serif';
    font-size: 150%;
    text-transform: uppercase;
}

/* These styles are for the discussion box on the home page */

.discussion-box {
    background-color: #3d3d3d;
    border-top: #fff 2px solid;
}

#discussion-card {
    border: #fff solid 2px;
    margin-top: 100px;
}

#image-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    border: #fff solid 5px;
}

/* Login Page Styling */
#login-box {
    margin-top: 150px;
}

/* Logout Page Styling */
#logout-box {
    margin-top: 150px;
}

#logout-text {
    letter-spacing: 4px;
}

/* Registration Page styling */
#registration-box {
    margin-top: 150px;
}

/* Password Reset Page Styling */
#password-reset-box {
    margin-top: 150px;
}

/* Password Reset Done Page Styling */
#password-reset-done-box {
    margin-top: 150px;
}

/* Password Reset Key Page Styling */
#reset-key-box {
    margin-top: 150px;
}

/* Password Reset Key Done Page Styling */
#reset-key-done-box {
    margin-top: 150px;
}

/* Email Verification Box */
#email-confirm {
    margin-top: 150px;
}

/* Comment Form Styles */

#comment_form {
    background-color: rgba(0, 0, 0, 0.5);
    border: #fff solid 5px;
}