{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>B&H | Employee Community</title>
</head>
<body>
    <head>
        <nav>
            <ul>
                <li>Home</li>
                <li>Profile</li>
            </ul>
        </nav>
    </head>

    {% block content %}
        <!-- Main content goes between these tags -->
    {% endblock content %}
    <footer></footer>
</body>
</html>