{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<!-- This is the fire background that frames the content -->
<section class="fire-background" aria-label="Fire background which frames content">
    <div class="overlay container-fluid mt-5 pb-5" id="profile-card">

        {% if user.is_authenticated %}
        <div class="col-10 offset-1 col-md-8 offset-md-2 d-flex flex-row-reverse pb-3">
            <button id="createProfileBtn" class="btn btn-success">Create Profile</button>
        </div>
        {% endif %}
        <!-- For every profile in staff profiles, this code is executed -->
        {% for profile in staff_profiles %}

        <!-- This counter changes the layout of the profile cards depending on their index -->
        {% if forloop.counter|divisibleby:2 %}
        <div class="card col-10 offset-1 col-md-8 offset-md-2 mb-5 {% if not profile.approved and profile.user == user %}
        faded{% elif not profile.approved %} d-none{% endif %}">
            <div class="row g-0">
                <div class="col-md-4">
                    <!-- This code refers to the profile photo -->
                    {% if "placeholder" in profile.photo.url %}
                    <img class="img-fluid rounded-start" src="{% static 'images/stock_photo.jpg' %}"
                        alt="placeholder, default image">
                    {% else %}
                    <img class="img-fluid rounded-start" src=" {{ profile.photo.url }}"
                        alt="A photo of {{ profile.user }} display photo">
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <!-- This code refers to the body of the profile card -->
                    <div class="card-body position-relative"
                        aria-labelledby="profileUserTenure profilePosition profileMemory profileFacts">
                        {% if not profile.approved and profile.user == user %}
                        <p
                            class="alert alert-warning border border-dark position-absolute opacity-75 top-0 fw-bolder mt-2">
                            Awaiting approval</p>
                        {% endif %}
                        <h2 id="profileUserTenure" class="card-title">Name: {{ profile.user }} | Years at Camp: {{ profile.tenure }}</h2>
                        <h4 id="profilePosition" class="card-text">Position: {{ profile.position }}</h4>
                        <p id="profileMemory" class="card-text"><span class="fw-bold">Favourite Memory:</span> {{ profile.memory }}</p>
                        <p id="profileFacts" class="card-text"><span class="fw-bold">Fun Facts:</span> {{ profile.facts }}</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- This else statement executes the same code as above, except the orientation is flipped -->
        {% else %}
        <div class="card col-10 offset-1 col-md-8 offset-md-2 mb-5 {% if not profile.approved and profile.user == user %}
        faded{% elif not profile.approved %} d-none{% endif %}">
            <div class="row g-0">
                <div class="col-md-8">
                    <!-- This code refers to the proife body -->
                    <div class="card-body"
                        aria-labelledby="profileUserTenure profilePosition profileMemory profileFacts">
                        <h2 id="profileUserTenure" class="card-title">Name: {{ profile.user }} | Years at Camp: {{ profile.tenure }}</h2>
                        <h4 id="profilePosition" class="card-text">Position: {{ profile.position }}</h4>
                        <p id="profileMemory" class="card-text"><span class="fw-bold">Favourite Memory:</span> {{ profile.memory }}</p>
                        <p id="profileFacts" class="card-text"><span class="fw-bold">Fun Facts:</span> {{ profile.facts }}</p>
                    </div>
                </div>
                <div class="col-md-4 position-relative">
                    <!-- This code refers to the profile image -->
                    {% if not profile.approved and profile.user == user %}
                    <p
                        class="alert alert-warning border border-dark position-absolute opacity-75 top-0 end-0 fw-bolder mt-2">
                        Awaiting approval</p>
                    {% endif %}
                    {% if "placeholder" in profile.photo.url %}
                    <img class="img-fluid rounded-start" src="{% static 'images/stock_photo.jpg' %}"
                        alt="placeholder image">
                    {% else %}
                    <img class="img-fluid rounded-start" src=" {{ profile.photo.url }}"
                        alt="{{ profile.user }} display photo">
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- End statement for index counter -->
        {% endif %}

        <!-- End statement for profile for loop -->
        {% endfor %}
    </div>
    </div>
</section>

<!-- This is the Profile Modal -->
<div class="modal fade" id="createProfileModal" tabindex="-2">
    <div class="modal-dialog bg-dark rounded-3 border border-light-subtle">
        <div class="modal-content bg-dark">
            <div data-bs-theme="dark" class="modal-header bg-dark">
                <h3 class="modal-title text-white">Create Profile</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-white">
                <form method="POST" id="profileForm">
                    <!-- This is the form that allows the user to edit their discussion -->
                    {{ profile_form | crispy }}
                    {% csrf_token %}
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" id="submitBtn" class="btn btn-success">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extras %}

<script src="{% static 'js/staff.js' %}"></script>
{% endblock %}