{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="fire-background">
    <div class="overlay container-fluid mt-5 pb-5" id="profile-card">
        {% if user.is_authenticated %}
        {% for profile in staff_profiles %}
        {% if forloop.counter|divisibleby:2 %}
        <div class="card col-8 offset-2 mb-5">
            <div class="row g-0">
                <div class="col-md-4">
                    {% if "placeholder" in profile.photo.url %}
                    <img class="img-fluid rounded-start" src="{% static 'images/stock_photo.jpg' %}"
                        alt="placeholder image">
                    {% else %}
                    <img class="img-fluid rounded-start" src=" {{ profile.photo.url }}"
                        alt="{{ profile.user }} display photo">
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h2 class="card-title">Name: {{ profile.user }} | Years at Camp: {{ profile.tenure }}!</h2>
                        <h4 class="card-text">Position: {{ profile.position }}</h4>
                        <p class="card-text"><span class="fw-bold">Favourite Memory:</span> {{ profile.memory }}</p>
                        <p class="card-text"><span class="fw-bold">Fun Facts:</span> {{ profile.facts }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="card col-8 offset-2 mb-5">
            <div class="row g-0">
                <div class="col-md-8">
                    <div class="card-body">
                        <h2 class="card-title">Name: {{ profile.user }} | Years at Camp: {{ profile.tenure }}!</h2>
                        <h4 class="card-text">Position: {{ profile.position }}</h4>
                        <p class="card-text"><span class="fw-bold">Favourite Memory:</span> {{ profile.memory }}</p>
                        <p class="card-text"><span class="fw-bold">Fun Facts:</span> {{ profile.facts }}</p>
                    </div>
                </div>
                <div class="col-md-4">
                    {% if "placeholder" in profile.photo.url %}
                    <img class="img-fluid rounded-start" src="{% static 'images/stock_photo.jpg' %}"
                        alt="placeholder image">
                    {% else %}
                    <img class="img-fluid rounded-start" src=" {{ profile.photo.url }}"
                        alt="{{ profile.user }} display photo">
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% else %}
    </div>
    <div>
        <h1>Create Profile?</h1>
        <p>It looks like you don't have a profile just yet.</p>
        <p>Do you want to create one?</p>
    </div>
    {% endif %}
    </div>
</section>

{% endblock %}